[Unit]
Description=PFMES Backend Service (Development)
After=network.target

[Service]
User=itscore
Group=itscore
WorkingDirectory=/home/itscore/ItscoreMES/backend
Environment="ENV_FILE=.env.development"
ExecStart=/home/itscore/ItscoreMES/backend/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker main:app --bind 0.0.0.0:8001
Restart=always

[Install]
WantedBy=multi-user.target
